#demo{
  background-image:url("vck2.jpg") ;
  color:white;

} 
#demo2{
  background-image:url("vck2.jpg") ;
  color:white;
  
} 
button {
   background-image:url("vck2.jpg") ;
  color:white;
  background-color: green;
}